{{#each products}}
<h2>{{this.nombre}}</h2>
<p>{{this.description}}</p>
<p>{{this.price}}</p>
<img src="" alt={{this.thumbnails}}>
<p>{{this.code}}</p>
<p>{{this.stock}}</p>
<p>{{this.status}}</p>
<p>{{this.category}}</p>
<p>{{this.id}}</p>
{{/each}}


<script src="https://cdn.socket.io/4.7.3/socket.io.min.js"
    integrity="sha384-+miq58Ltmjm+SSP5g8Ok6dpMO/6R4n8xe/x1Yj0Bdb9kiEz25LTnWv/GZQTRQamg"
    crossorigin="anonymous"></script>
<script src="js/index.js"></script>